<div class="d-flex">
  <div class="col-3 border border-bottom-0 border-end">
    <h4 class="p-2">Components</h4>
    <div class="row p-2">
      <div class="col-12" style="cursor: move;">
        <div cdkDrag class="card shadow p-3 mb-2 bg-body-tertiary rounded"><span class="text-center fw-bold fs-1">Aa</span><span class="text-center text-muted">Heading, Title</span></div>
      </div>
      <div cdkDrag class="col-12" style="cursor: move;">
        <div class="card shadow p-3 mb-2 bg-body-tertiary rounded"><input type="text" placeholder="Text Input Field" disabled class="form-control mt-2"/></div>
      </div>
      <div cdkDrag class="col-6" style="cursor: move;">
        <div class="card shadow p-3 mb-2 bg-body-tertiary rounded">TextArea</div>
      </div>
      <div class="col-6" style="cursor: move;">Button</div>
      <div class="col-6" style="cursor: move;">Button</div>
      <div class="col-6" style="cursor: move;">Button</div>
    </div>
  </div>
  <div class="col-9 px-5 py-3 my-1">
    <div class="card  shadow p-3 mb-2 bg-body-tertiary rounded" style="min-height: 100vh;"></div>
  </div>
</div>
